.heroes-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;   /* 👈 reduced from 10px */
    width: 90%;
    height: 450px;
    margin-top: 60px;
    margin-left: 20px;
}

.main-img{
    position: relative;  /* 👈 IMPORTANT */
    overflow: hidden;
}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* BUTTON */
.main-btn{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 120px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER EFFECT */
.main-btn:hover{
    background: #000;
    transform: scale(1.1);
}

.side-img{
  
    display: flex;
    flex-direction: column;
    gap:25px;
}

/* CARD BACKGROUND */
.side-item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

/* IMAGE - KEEP ORIGINAL SIZE */
.side-item img{
    width: 400px;   /* increased */
    height: 220px;  /* increased */
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

/* TITLE */
.news-text h4{
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: #222;
    cursor: pointer;
}
.news-text h4:hover{
    color: red;
}
