.previous-news-card{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:25px;
    padding:15px;
 
    border-radius:10px;
  
}
.news-img img{
    width:600px;
    height:400px;
    object-fit:cover;
    border-radius:10px;
}


/* text */
.previous-news-card .news-content h3{
    margin:0;
    position: relative;
    bottom: 2px;
    font-size:52px;
    color: red;
}

.previous-news-card .news-content p{
    color:#666;
    margin-top:10px;
    line-height:1.5;
}
.previous-news-card:nth-child(even){
    flex-direction:row-reverse;
}