.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

.sidebar .logo{
    font-size: 20px;
    margin-bottom: 30px;
}

.sidebar .menu{
    list-style: none;
    padding: 0;
}

.sidebar .menu li{
    margin: 15px 0;
}

.sidebar .menu li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px;
    border-radius: 6px;
}

.sidebar .menu li a:hover{
    background: #34344a;
}